<div class="flex justify-center items-stretch" style="height: 500px">
  <div class="relative overflow-x-auto self-center" style="width: 50%">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3" *ngFor="let name of listName">
            {{ name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          *ngFor="let product of listProduct"
        >
          <td
            *ngFor="let type of product; let index = index"
            scope="row"
            class="px-6 py-4"
          >
            <span
              *ngIf="index == 0; else eltype"
              class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ type }}
            </span>
            <ng-template #eltype>{{ type }}</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
